@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import "tailwindcss";


@theme {
  --color-black: #000000;
  --color-grayer: #232323;
  --color-grayist: #242424;
  --color-greenish: #d6fd51;
  --color-reder: #d08473;
  --color-yellow: #f2c94c;

  --font-heading: 'Russo One', sans-serif;
}
